@using NulahCore.Models.Article;
@model PublicArticle
<div class="article-container">
    <div class="article-navigation article-navigation-top">
        @*<div class="article-navigation--item">
                <a href="~/">&laquo; Back</a>
            </div>*@
        <div class="nav-container">
            <div class="nav-header">
                New Article
            </div>
            <div class="nav-content">
                <nav>
                    <ul>
                        <li>
                            <a href="#"><i class="fa fa-image"></i><span>Upload Image</span></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-save"></i><span>Save Draft</span></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-book"></i><span>Publish</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="new-article-content">
        <div class="module-column">
            <div class="module">
                <div class="module-content">
                </div>
            </div>
            <div class="module">
                <div class="module-content">
                    <div class="module-title">
                        <h1>New Article</h1>
                    </div>
                    <div class="module-body">
                        <div class="form">
                            <form action="~/Article/New" method="post">
                                <div class="form-row">
                                    <div class="form-label">
                                        <label for="ArticleTitle">Title</label>
                                    </div>
                                    <div class="form-input">
                                        <input asp-for="@Model.Title" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-label">
                                        <label for="ArticleTitle">Body</label>
                                    </div>
                                    <div class="form-input">
                                        <textarea asp-for="@Model.Body"></textarea>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-button form-right">
                                        <button class="btn" type="submit">Post</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>