<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/nulah.css" rel="stylesheet" />
</head>
<body>
    <div class="page-container">
        @Html.Partial("~/Areas/Shared/Fragments/Sidebar.cshtml")
        @RenderBody()
    </div>
    @RenderSection("Scripts", false)
</body>
</html>
