<div class="page-container">
    @Html.Partial("Fragments/Sidebar")
    <div class="front-page-content">
        <div class="module-column">
            <div class="module">
                <div class="module-content">
                    <div class="module-body">
                        Content
                    </div>
                </div>
            </div>
            <div class="module">
                <div class="module-content">
                    <div class="module-body">
                        Content
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
