<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    Welcome to Moar.ws!<br/>
    You're receiving this email because someone has attempted to register this email address, {{EmailAddress}}.<br/>
    <br/>
    If this was intended, click <a href="https://moar.ws/Register/Confirm">this link</a> and enter in this token: {{Token}}.<br/>
    You have one day to confirm your address using this token before it expires.<br/>
    This token will expire on {{Expires}}. This might not be your local timezone, so please feel free to convert this from GMT
    if you really want to wait until the last possible moment to confirm.
</body>
</html>