@using Nulah.Users.Models;
@{
    User User = ViewData["User"] as User;
}
<div class="sidebar @ViewData["Sidebar"]">
    <div class="nav-container">
        <div class="nav-header">
            Nav
        </div>
        <div class="nav-content">
            <nav>
                <ul>
                    <li>
                        <a href="~/"><i class="fa fa-home"></i><span>Home</span></a>
                    </li>
                    <li>
                        <a href="~/Articles"><i class="fa fa-archive"></i><span>Archives</span></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    @if(false) {
        <div class="nav-container user-menu">
            <div class="nav-header">
                User
            </div>
            <div class="nav-content">
                <nav>
                    <ul>
                        <li>
                            <a href="~/Article/New"><i class="fa fa-file-text-o"></i><span>New Article</span></a>
                        </li>
                        <li>
                            <a href="~/Profile"><i class="fa fa-user"></i><span>Profile</span></a>
                        </li>
                        <li>
                            <a href="~/Logout"><i class="fa fa-sign-out"></i><span>Logout</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    } else {
        <div class="nav-container user-menu">
            <div class="nav-header">
                User
            </div>
            <div class="nav-content">
                <nav>
                    <ul>
                        <li>
                            <a href="~/Login/GitHub"><i class="fa fa-sign-in"></i><span>Login</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    }
</div>