<div>
    Select Login:
</div>
<div>
    TODO: Have these populate from appsettings
</div>
<div>
    <a href="~/Login/GitHub"><i class="fa fa-sign-in"></i><span>GitHub</span></a>
</div>
<div>
    <a href="~/Login/Discord"><i class="fa fa-sign-in"></i><span>Discord</span></a>
</div>
