<div class="page-container">
    <div class="front-page-content">
        <div class="module-column">
            <div class="module">
                <div class="module-content">
                    <div class="module-body">
                        Someone elses profile

                        @if(ViewData["Profile"] == null) {
                            <text>User Not Found</text>
                        } else {
                            @Html.Partial("Shared/Fragments/UserProfile_Fragment", ViewData["Profile"])
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>