.article-container {
    display: flex;
    flex: 1;
    flex-direction: row;

    .article-navigation {
        height: 100%;
        display: flex;
        background-color: hsl(253, 0%, 12%);
        flex-direction: column;
        padding: 10px;
        flex: 0 0 auto;

        div.article-navigation--item {
            font-size: 1.3rem;

            a {
                text-decoration: none;
                font-size: inherit;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
