.btn {
    min-width: 75px;
    line-height: 1.4;
    padding: 0.25rem;
    background-color: hsl(204, 100%, 57%);
    border: 1px solid hsl(204, 100%, 46%);
    color: hsl(0,0%,100%);
    font-size: 1.1rem;
    font-weight: bold;

    &:hover {
        background-color: hsl(204, 100%, 46%);
    }
}
