@using NulahCore.Models.User;
@{
    PublicUser User = ViewData["User"] as PublicUser;
}

<div class="sidebar">
    <div class="container">
        <div class="container-header">
            Nav
        </div>
        <div class="container-content">
            <nav>
                <ul>
                    <li>
                        <a href="~/Articles">Archives</a>
                    </li>
                    @if(!User.IsLoggedIn) {
                        <li>
                            <a href="~/Login">Login</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>
    @if(User.IsLoggedIn) {
        <div class="container">
            <div class="container-header">
                User
            </div>
            <div class="container-content">
                <nav>
                    <ul>
                        <li>
                            <a href="~/Article/New">New Article</a>
                        </li>
                        <li>
                            <a href="~/Profile">Profile</a>
                        </li>
                        <li>
                            <a href="~/Logout">Logout</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    }
</div>